@import '../../colors';

.header-container {
    background-color: $secondary;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primary;

    nav {
        a {
            text-decoration: none;
            color: $primary;
            font-weight: bold;
        }
    }
}